/* 
This file contains the CSS which applies to every file
therefore is this file linked by every HTML file
*/

html {
  font-family: 'Andale Mono', monospace;
}

footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  color: white;
  padding: 10px;

}

.sun-button {
  grid-area: sun;
  display: flex;
  width: 45px;
  height: 45px;
  cursor: pointer;
  justify-self: center; /* Align to the end (right) of the grid area */

}

.grey-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  padding: 20px;
  color: white;
  margin: 10px;
  line-height: normal;
  font-size: 12pt;

  > h3 {
    font-size: 2rem;
    padding-bottom: 5px;
    margin: 0;
  }

}


.title-box {
  grid-area: title;
  font-size: 2rem;

  & .grey-box {
    text-align: left;
    display: inline-block;
    justify-content: baseline;


  }

  & h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
  }

  & h2 {
    margin: 0;
    font-size: 2rem;
    color: white;
  }
}

.paragraph-box {
  grid-area: paragraph;
  display: flex;
  justify-content: center;
  align-items: baseline;

  & .grey-box {
    text-align: left;
    font-size: 8pt;
  }
}


