:root {
    --earth-orbit-time: 180s;
    --mars-orbit-time: calc((687/365) * var(--earth-orbit-time));
}

body {
    background-image: url('/src/client/img/star_background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* This ensures that the background covers the entire viewport height */
    margin: 0; /* Remove default margin */
    overflow: hidden;

    & div#home-container {
        display: flex;
        align-items: center;
        justify-content: center;

        & img#sun {
            z-index: 1;
            width: 15vh;
            position: absolute;
            border-radius: 50%;
        }
        
        & div#earth-and-moon-container {
            display: flex;
            position: absolute;
            width: 25vh;
            height: 25vh;
            justify-content: center;
            align-items: center;
            animation: orbitEarth var(--earth-orbit-time) infinite linear;
    
            > img#earth {
                width: 10vh;
                position: absolute;
                z-index: 1;
                border-radius: 50%;
            }
    
            & div#moon-container-home {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: inherit;
                height: inherit;
    
                > img#moon {
                    width: 25%;
                    position: absolute;
                    animation: orbitMoon 60s infinite linear;
                    z-index: 1;
                    border-radius: 50%;
                }
    
                & #moon-svg-container {
                    width: 26vh;
                    height: 26vh;
                    position: absolute;
                }
            }
        }
    
        & img#mars {
            width: 8vh;
            position: absolute;
            border-radius: 50%;
            animation: orbitMars var(--mars-orbit-time) linear infinite;
        }
    
        & div > img#earth:hover, div div > img#moon:hover, img#mars:hover {
            cursor: pointer;
        }
    
        & svg {
            height: 100vh;
            width: 100vw;
    
            & ellipse {
                fill: none;
                stroke: lightgrey;
                stroke-width: 1;
                opacity: 50%;
            }
        }
    }   
}

@keyframes orbitEarth {
    0% { 
        transform: rotate(-30deg)  
              translateY(110%) rotate(30deg); 
    } 

    100% { 
        transform: rotate(330deg)  
              translateY(110%) rotate(-330deg); 
    } 
}

@keyframes orbitMars {
    0% { 
        transform: rotate(120deg)  
              translateY(45vh) rotate(-120deg); 
    } 

    100% { 
        transform: rotate(480deg)  
              translateY(45vh) rotate(-480deg); 
    } 
}

@keyframes orbitMoon {
    0% { 
        transform: rotate(210deg)  
              translateY(200%) rotate(-210deg); 
    } 

    100% { 
        transform: rotate(570deg)  
              translateY(200%) rotate(-570deg); 
    } 
}

@keyframes sunEasterEgg {
    0% {
        width: 15vh;
    }
    40% {
        width: 20vh;
    }
    100% {
        width: 15vh;
    }
    
}