body {
    background-image: url('/src/client/img/star_background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures that the background covers the entire viewport height */
    margin: 0; /* Remove default margin */
    overflow: hidden;

    & img#sun {
        width: 8%;
        position: absolute;
    }
    
    & div#earth-and-moon-container {
        display: flex;
        position: absolute;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;

        > img#earth {
            width: 6%;
            position: absolute;
            animation: orbitEarth 90s infinite linear;
        }

        & div#moon-container {
            display: flex;
            position: absolute;
            width: 100%;

            > img#moon {
                width: 5%;
                position: absolute;
            }
        }
    }

    & img#mars {
        width: 5%;
        position: absolute;
        animation: orbitMars 120s linear infinite;
    }

    & div > img#earth:hover, div div > img#moon:hover, img#mars:hover {
        cursor: pointer;
    }

    & svg {
        height: 100vh;
        width: 100vw;

        & ellipse {
            fill: none;
            stroke: lightgrey;
            stroke-width: 1;
        }
    }
}

@keyframes orbitEarth {
    0% { 
        transform: rotate(0deg)  
              translateY(200%) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(200%) rotate(-360deg); 
    } 
}

@keyframes orbitMars {
    0% { 
        transform: rotate(0deg)  
              translateY(550%) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(550%) rotate(-360deg); 
    } 
}