:root {
    --earth-orbit-time: 180s;
    --mars-orbit-time: calc((687/365) * var(--earth-orbit-time));
    --unit: 1vw;
}

/* Media query for screens with width greater than or equal to heigth */
@media screen and (min-aspect-ratio: 1/1) {
    :root {
        --unit: 1vh; /* Switch to vh when width is greater than or equal to heigth */
    }
}

body {
    background-image: url('/src/client/img/star_background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* This ensures that the background covers the entire viewport height */
    margin: 0; /* Remove default margin */
    overflow: hidden;

    & div#home-container {
        display: flex;
        align-items: center;
        justify-content: center;

        & img#sun {
            z-index: 1;
            width: calc(15 * var(--unit));
            position: absolute;
            border-radius: 50%;
        }
        
        & div#earth-and-moon-container {
            display: flex;
            position: absolute;
            width: calc(25 * var(--unit));
            height: calc(25 * var(--unit));
            justify-content: center;
            align-items: center;
            animation: orbitEarth var(--earth-orbit-time) infinite linear;
    
            > img#earth {
                width: calc(10 * var(--unit));
                position: absolute;
                z-index: 1;
                border-radius: 50%;
            }
    
            & div#moon-container-home {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: inherit;
                height: inherit;
    
                > img#moon {
                    width: 25%;
                    position: absolute;
                    animation: orbitMoon 60s infinite linear;
                    z-index: 1;
                    border-radius: 50%;
                }
    
                & #moon-svg-container {
                    width: calc(26 * var(--unit));
                    height: calc(26 * var(--unit));
                    position: absolute;
                }
            }
        }
    
        & img#mars {
            width: calc(8 * var(--unit));
            position: absolute;
            border-radius: 50%;
            animation: orbitMars var(--mars-orbit-time) linear infinite;
        }
    
        & div > img#earth:hover, div div > img#moon:hover, img#mars:hover {
            cursor: pointer;
        }
    
        & svg {
            height: 100vh;
            width: 100vw;
    
            & ellipse {
                fill: none;
                stroke: lightgrey;
                stroke-width: 1;
                opacity: 50%;
            }

            & ellipse#mars-orbit {
                rx: calc(45 * var(--unit));
            }

            & ellipse#earth-orbit {
                rx: calc(27.5 * var(--unit));
            }

            & ellipse#moon-orbit {
                cx: calc(12.75 * var(--unit));
                cy: calc(12.75 * var(--unit));
                rx: calc(12.5 * var(--unit));
            }
        }
    }   
}

@keyframes orbitEarth {
    0% { 
        transform: rotate(-30deg)  
              translateY(110%) rotate(30deg); 
    } 

    100% { 
        transform: rotate(330deg)  
              translateY(110%) rotate(-330deg); 
    } 
}

@keyframes orbitMars {
    0% { 
        transform: rotate(120deg)  
              translateY(calc(45 * var(--unit))) rotate(-120deg); 
    } 

    100% { 
        transform: rotate(480deg)  
              translateY(calc(45 * var(--unit))) rotate(-480deg); 
    } 
}

@keyframes orbitMoon {
    0% { 
        transform: rotate(210deg)  
              translateY(200%) rotate(-210deg); 
    } 

    100% { 
        transform: rotate(570deg)  
              translateY(200%) rotate(-570deg); 
    } 
}

@keyframes sunEasterEgg {
    0% {
        width: calc(15 * var(--unit));
    }
    40% {
        width: calc(20 * var(--unit));
    }
    100% {
        width: calc(15 * var(--unit));
    }
    
}

.content {
    overflow-y: auto;
    height: calc(100vh - 20px);
    /* Adjust for any margin or padding */
  }