#mars-container {
  /*background: url('/src/client/img/mars-modified.png') center/35vh no-repeat;*/
  margin: 0;
  display: none;
  grid-template: 
  " . sun buttons"
    "title image today-weather-box"
    "weather-boxes weather-boxes weather-boxes"
    "footer footer footer";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px auto auto 40px;
  min-height: 100vh;
  gap: 5px;

  & .image {
    width: 30vh;
    height: 30vh;
    justify-self: center;
    align-self: center;
  }

  & #button-box {
    grid-area: buttons;
    display: flex;
    justify-content: end;
    gap: 5px;
    margin: 5px 10px;


    & .buttonChange {
      background-color: rgba(55, 55, 55, 0.6);
      border-radius: 8px;
      text-align: center;
      font-size: 7pt;
      width: 7.5vw;
      color: white;
      margin-right: 5px;
    }

    #celsius-button,
    #mars-date-button,
    #test2-button {
      display: none;
    }
  }

  & main {
    display: flex;
    grid-area: weather-boxes;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & svg {
      width: 100%;
      justify-self: center;
      margin-top: auto; /* Push the SVG to the bottom */
      align-self: flex-end; /* Align the SVG to the bottom */
    }
    

    & .weather-boxes {
      display: flex;
      justify-content: space-evenly;

      & .grey-box {
        margin: 5px;
      }
    }
  }

  & div#today-weather-box {
    cursor: pointer;

    grid-area: today-weather-box;
    justify-content: center;
    align-items: baseline;
    display: flex;
    line-height: 10pt;

    & p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}



@media screen and (max-width: 660px) {
  #mars-container {
    grid-template: 
      "sun buttons"
      "title title"
      "today-weather-box today-weather-box"
      "weather-boxes weather-boxes"
      "footer footer";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px auto auto auto 40px;

    & .image {
      display: none;
    }

    background: url('/src/client/img/mars-modified.png') center/35vh no-repeat;

    & #button-box {
      & .buttonChange {

        width: 50px;
        padding: 4px;
        color: white;
        margin-right: 5px;
        font-size: 8pt;
      }
    }

    & .today-weather-box {
      display: none;
    }
  }
}