.weather-box {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  line-height: 1rem;
  padding: 10px;
  border: 1px solid var(--border-color);
}




.weather-box-outer {
  
  justify-content: center;
  align-items: center;
  margin: 1rem;

}