
div#moon-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 200px 1fr 40px; /* Adjusted rows to include 1fr for the remaining space */
  grid-template-areas: 
    "sun date-picker date-picker buttons"
    "title countdown countdown moon-sunrise-sunset-box"
    "moon moon moon moon"
    "footer footer footer footer";

  gap: 10px;
  min-height: 100vh; /* Ensure body takes up at least the full viewport height */
  .grey-box {
    border: none; /* or border-width: 0; */
    background-color: transparent;
  }
}

.title-box{
  display: flex;

  & .grey-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: date-picker;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: date-picker;
}



.moon-box {
  grid-area: moon-sunrise-sunset-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  & h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  & p {
    font-size: 1rem;
    font-weight: 300;
  }
}
  
.image {
  padding-bottom: 20px;
  width: 400px;
  height: 400px;
}

.image-container {
  display: flex;
  grid-area: moon;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;

}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  grid-area: countdown;
}
