div#moon-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px auto auto 40px;
  /* Adjusted rows to include 1fr for the remaining space */
  grid-template-areas:
    ". sun  buttons"
    "title countdown moon-sunrise-sunset-box"
    "moon moon moon"
    "footer footer footer";

  gap: 10px;
  min-height: 100vh;
}


.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: date-picker;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: date-picker;
}


.moon-box {
  grid-area: moon-sunrise-sunset-box;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  color: white;
}


.countdown {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: white;
  font-size: 1.5rem;
  grid-area: countdown;
}


/* Media query for screens smaller than 660px */
@media screen and (max-width: 660px) {
  div#moon-container {
    grid-template-rows: 40px auto auto auto auto 40px;
    grid-template-columns: auto;
    grid-template-areas:
      "sun"
      "title"
      "countdown"
      "moon-sunrise-sunset-box "
      "moon "
      "footer";


    & .countdown {
      font-size: 12pt;
    }

    & .moon-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}