div#neo-container {
    display: none;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    color: wheat;

    & div#cad-container, div#fireball-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        overflow-y: auto;
        height: inherit;
        -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;  /* Hide scrollbar for Firefox */

        & div#cad-Elem-box, div#fireball-Elem-box {
            display: flex;
            flex-direction: column;
            line-height: 0.8;
            padding: 3px;
            margin: 5px;
            background-color: rgba(102, 102, 102, 0.6);;
            border-radius: 8px;

            & h3{
                align-self: center;
                font-size: 20pt;
                margin: 8pt;
            }
          
            & p {
                margin: 8pt;
                font-size: 12pt;
            }
        }
    }

    & div#cad-container::-webkit-scrollbar, div#fireball-container::-webkit-scrollbar {
        display: none;
    }

    & img#neo {
        align-self: center;
        height: 75vh;
    }

    & img#sun-button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}